* {
    margin: 0;
    padding: 0;
}

/* container cabecalho */

body{
    font-family: monospace;
}

header{
    background-color: #1d1e21;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

}

.logo_cabecalho{
    /* background-color: grey; */
    color: white;
    text-align: center;
    padding: 8px;
    font-weight: 600;
    text-decoration: none;

}

nav ul{
    /* background-color: blue; */
    display: flex;
    padding: 0%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

nav li{
    /* background-color: grey; */
    color: white;
    text-align: center;
    padding: 8px;
    font-weight: 600;
    text-decoration: none;
    list-style-type: none;

}

li a{
    color: white;
    text-decoration: none;
}

/* titulo */

h3{
    color: #1d1e21;
    font-size: large;
    display: flex;
    padding: 55px;
    justify-content: center;
    text-align: center;

}

/* container imagens */

article img{
    width: 100%;
    height: auto;
    
}

section{
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
}

article{
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 660px;
    min-width: 300px;
    width: 100%;
    text-align: center;
    flex: 1 1 17%;
    
}

article p{
    color: gray;
}

/* media query */

@media (max-width: 670px) and (min-width:400px) {
    header {
        flex-direction: row;
        height: auto;
        padding: 10px;
    }

    .logo_cabecalho{
        font-size: 42px;
        font-weight: lighter;
    }

    nav ul{
        margin-top: 10px;
        margin-bottom: 20px;
        margin-right: 20px;
        flex-direction: column;
        
    }

    nav li{
        margin-top: 10px;
        background-color: gray;
        padding: 0;
        width: 100%;
        text-align: start;
    }

    section{
        flex-direction: column;
        margin-left: 5%;
        margin-right: 5%;

    }
    
    article{
        flex: 100%;
        max-width: 100%;
        margin-bottom: 20px;

    }

    article img{
        width: 100%;

    }

    h3{
        padding: 35px;
        font-size: x-large;
    }
}